@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
    height: 100%;
}

body {
    max-width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
}

.main-container {
    flex-grow: 1;
}

.page-header {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
    position: relative ;
    width: 1057px;
    margin: 0 auto;
}

.logo-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}
.navigation-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.navigation-item {  
    margin-right: 33px;
}

.navigation-item:last-child {
    margin-right: 0;
}

.page-description {
    display: flex;
    flex-direction: column;
    width: 720px;
    margin: 0 auto;
}

.navigation-link {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-decoration: none;
}  

.link {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: none;
    color: #ffffff;
    border-radius: 4px;
    background-color: #756257;
    display: inline-block;
    text-decoration: none;
    padding: 8px 34px;
}

.main-image {
    background-image: url("/image/index-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.main-image-welcome {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 51px;
}

.advantage-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.advantage-sub-list {
    width: 100%;
    display: flex;  
    padding: 0;
    margin: 0;
    background: #ffffff;
    list-style: none;
}

.advantage-list {
    display: flex;
    flex-wrap: wrap;
}

.main-text-bold {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.main-text-norm {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}

.blue-box   {
    background-color: #83B3D3;
    color: #ffffff;
}

.box-list {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}
.box-item {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.grey {
    background-color: #f0f6fa;
}

.main-search {
    background-color: #ffffff;
    text-align: center;
}

.main-search-container {
    padding: 91px 240px;
}

.main-search-title {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;  
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.main-search-item {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    max-width: 660px;
    margin: 0 auto;
    padding-bottom: 73px;
}

.button-search{
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 10px;
    background-color: #756257;
    display: inline-block;
    text-decoration: none;
    padding: 12px 150px;
}

.main-subscribe {
    background-image: url("/image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.main-subscribe-form {
    position: relative;
    max-width: 600px; 
    margin: 0 230px;
}

.main-subscribe-item {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 100px 15px 30px;
    margin: 0;
    border: none;
    border-radius: 10px;
}

.main-subscribe-button {
    background-color: #83B3D3;
    border-radius: 0px 10px 10px 0px;
    padding: 15px 34px;
    border: none;
    position: absolute;
    left: 100%;
    top: -4%;
    transform: translateX(-10%);
}

.color-input {
    background-color: #e7f0f0;
}

.main-subcribe-title {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.main-subcribe-item {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.footer-phone {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.inner-catalog {
    background-image: url("/image/catalog/catalog-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.footer-contacts {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.inner-catalog {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.catalog-filter-group {
    width: 160px;
}

.inner-find-container {
    display: flex;
    width: 1060px;
    justify-content: space-between;
    margin: 0 auto;
}

.main-inner-title {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs-item {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.catalog-filter-input {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

.catalog-filter--title {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.inner-find-title {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase
}

.inner-select {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

.find-list {
    display: flex;
    flex-direction: column;
}

.find-list-item {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.find-list-name {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.find-list-type {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

.find-list-price {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

.button-details {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    background-color: #756257;
    color: #ffffff;
    border-radius: 4px;
    padding: 8px 30px;
    text-decoration: none;
}

.color-blue {
    background-color: #83B3D3;
}

.color-green {
    background-color: #7DB54F;
}

.load-more {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    background-color: #83B3D3;
    color: #ffffff;
    padding: 14px 240px;
    text-decoration: none;

}

.count-text {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

.count-amount {
    font-family: "PT Sans" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

}

.pagination-list{
    display: flex;
    justify-content: space-around;

}
