@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
    height: 100%;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    max-width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
}

.main-container {
    flex-grow: 1;
}

.page-header {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
    position: relative ;
    width: 1057px;
    margin: 0 auto;
}

.logo-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}
.navigation-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.navigation-item {  
    margin-right: 33px;
}

.navigation-item:last-child {
    margin-right: 0;
}

.page-description {
    display: flex;
    flex-direction: column;
    width: 720px;
    margin: 0 auto;
    padding-top: 63px;
    padding-bottom: 79px ;
}

.navigation-link {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-decoration: none;
}  

.link {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: none;
    color: #ffffff;
    border-radius: 4px;
    background-color: #756257;
    display: inline-block;
    text-decoration: none;
    padding: 8px 34px;
}

.main-image {
    background-image: url("/image/index-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.main-image-welcome {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 51px;
}

.blue-box:before {
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: cover;
    content: "";
    display: block;
    width: 800px;
    height: 100%; 
    position: absolute;
    top: 0;
}

.foto-house:before {
    background-image: url("/image/photo-1.jpg");
    left: 100%;
}  

.foto-nature:before {
    background-image: url("/image/photo-2.jpg");
    right: 100%;
}

.advantage-item-flex-end {
    justify-content: end;
}

.image-advantage {
    margin-bottom: 23px;
}

.advantage-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.advantage-sub-list {
    width: 100%;
    display: flex;  
    padding: 0;
    margin: 0;
    background: #ffffff;
    list-style: none;
    flex-wrap: wrap;
}

.advantage-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

.advantage-sub-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 89px 75px;
    flex-basis: calc(100% / 3);
}

.main-text-bold {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.main-text-norm {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    padding-top: 23px;
}

.blue-box   {
    background-color: #83B3D3;
    color: #ffffff;
    padding-top: 98px;
    padding-bottom: 88px;
    padding-right: 90px;
    padding-left: 90px;
    box-sizing: border-box;
    max-width: 400px;
    position: relative;
}

.box-list {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.box-item {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin: 0; 
}

.grey {
    background-color: #f0f6fa;
}

.broun {
    background-color: #83b3d333;
}

.main-search {
    background-color: #ffffff;
    text-align: center;
}

.main-search-container {
    padding: 91px 240px;
}

.main-search-title {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;  
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.main-search-item {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    max-width: 660px;
    margin: 0 auto;
    padding-bottom: 73px;
}

.button-search{
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 10px;
    background-color: #756257;
    display: inline-block;
    text-decoration: none;
    padding: 12px 150px;
}

.main-subscribe {
    background-image: url("/image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 94px;
}

.main-subscribe-form {
    position: relative;
    max-width: 600px; 
    margin: 0 auto;
}

.main-subscribe-item {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 100px 15px 30px;
    margin: 0;
    border: none;
    border-radius: 10px;
}

.main-subscribe-button {
    background-color: #83B3D3;
    border-radius: 0px 10px 10px 0px;
    padding: 15px 34px;
    border: none;
    position: absolute;
    right: 0;
    top: 0; 
}

.color-input {
    background-color: #e7f0f0;
}

.main-subcribe-title {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.main-subcribe-item {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding-bottom: 26px;
}

.footer-phone {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.inner-catalog {
    background-image: url("/image/catalog/catalog-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.footer-contacts {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.footer-social {
    padding-top: 40px;
    padding-bottom: 30px;
}

.footer-icon {
    list-style-type: none;
}

.inner-catalog {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.catalog-filter-group {
    width: 160px;
}

.inner-find {
    max-width: 1056px;
    padding-top: 44px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-find-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    width: 100%;
}

.type-visualy {
    display: flex;
    padding: 0;
    margin: 0;

}

.main-inner-title {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs-item {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    list-style-type: none;
}

.catalog-filter-input {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

.catalog-filter--title {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.inner-find-title {
    display: inline-block;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase
}

.inner-select {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    display: inline-block;
}

.find-list {
    max-width: 1056px;
    margin: 0 auto;
    padding: 0;
    margin: 0;
}

.find-list-star {
    display: grid;
    grid-template-rows: 1fr 1fr;

}

.find-list-image-grid {
    display: block;
}

.find-list-description {
    grid-column: span 3;
    display: grid;
    column-gap: 8px;
    grid-template-columns: 151px 151px 1fr;

}

.bottom-line {
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 30px;
}

.find-list-item {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    padding-top: 30px; 
    margin-bottom: 30px;
    border-top: 1px solid #E6E6E6;
}

.find-list-name {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    margin-top: 0;
    margin-bottom: 0;
    grid-column: span 3;
}

.find-list-type {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 31px;
    grid-column: 1 / 2;
}

.find-list-price {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    grid-column: 2 / 3;
}

.find-list-rating {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color: #F2F2F2;
    border-radius: 4px;
    padding: 8px 30px;
    margin: 0;
    align-self: end;
    justify-self: end;
    display: inline-block;
}

.button-details {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    background-color: #756257;
    color: #ffffff;
    border-radius: 4px;
    padding: 8px 20px;
    text-decoration: none;
    display: inline-block;
    grid-column: 1 / 2;
}

.inner-filter-form {
    display: flex;
    justify-content: space-around;
}

.catalog-filter-button {
    display: flex;
    flex-direction: column;
}

.button-accept {
    background-color: #83B3D3;
    border: none;
    padding: 14px 34px;
    border-radius: 4px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
}

.button-cancel {
    background-color: transparent;
    border: none;
    padding: 14px 34px;
    border-radius: 4px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
}

.color-blue {
    background-color: #83B3D3;
    grid-column: 2 / 3;
}

.color-green {
    background-color: #7DB54F;
    grid-column: 2 / 3;
}

.load-more {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    background-color: #83B3D3;
    color: #ffffff;
    padding: 14px 240px;
    text-decoration: none;
    display: inline-block;
    justify-self: center;
    margin-bottom: 30px;
}

.count-text {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

.count-amount {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

.pagination-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.count-item {
    display: flex;
}

.count-text {
    margin-right: 68px;
}

.count-amount {
    box-sizing: border-box;
    border-radius: 4px;
    padding: 17px 133px 12px 12px;
    border: 2px solid #E6E6E6;
    margin: 0;
    
}

.pagination-container {
    margin: 0 auto;
    padding-top: 17px;
    border-top: 1px solid #E6E6E6;
    max-width: 1056px;
}

.pagination-link {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    list-style: none;
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding: 14px 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #83B3D3;
    text-decoration: none;
    border-radius: 4px;
}

.one {
    color: #000000;
    background-color: #F2F2F2;;
}

.ten {
    padding: 14px 16px;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.inner-subscribe {
    padding-top: 89px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
