@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
  position: relative;
  width: 1057px;
  margin: 0 auto;
}

.logo-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 2;
}

.navigation-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

.navigation-user {
  display: flex;
  align-items: center;
}

.navigation-item {
  margin-right: 33px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.page-description {
  display: flex;
  flex-direction: column;
  width: 720px;
  margin: 0 auto;
  padding-top: 63px;
  padding-bottom: 79px;
}

.navigation-link {
  position: relative;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  outline: none;
}

.navigation-link-current::before {
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link::after {
  content: attr(data-title);
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  padding: 3px 9px;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 10px;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus::after {
  border-color: #83B3D3;
}

.link {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: none;
  color: #ffffff;
  border-radius: 4px;
  background-color: #756257;
  display: inline-block;
  text-decoration: none;
  padding: 8px 35px;
  outline: none;
}

.link:hover {
  background-color: #615048;
}

.link:focus {
  box-shadow: 0 0 0 3px #83B3D3;
}

.link:active {
  color: rgb(255, 255, 255, 0.3);
}

.main-image {
  background-image: url("/image/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 65px 0;
  position: relative;
}

.main-image::after {
  width: 100%;
  content: "";
  height: 57px;
  display: block;
  background-image: url("/image/divider.svg");
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-image-welcome {
  display: block;
  margin: 0 auto;
  padding-bottom: 32px;
}

.blue-box:before {
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: cover;
  content: "";
  display: block;
  width: 800px;
  height: 100%;
  position: absolute;
  top: 0;
}

.foto-house:before {
  background-image: url("/image/photo-1.jpg");
  left: 100%;
}

.foto-nature:before {
  background-image: url("/image/photo-2.jpg");
  right: 100%;
}

.advantage-item-flex-end {
  justify-content: end;
}

.image-advantage {
  margin-bottom: 23px;
}

.advantage-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantage-sub-list {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  background: #ffffff;
  list-style: none;
  flex-wrap: wrap;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  text-align: center;
  overflow: hidden;
  margin: 0;
  counter-reset: list;
}

.advantage-sub-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 89px 75px;
  flex-basis: calc(100% / 3);
}

.main-text-bold {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 34px;
}

.main-text-norm {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin: 0;
}

.blue-box {
  background-color: #83B3D3;
  color: #ffffff;
  padding-top: 98px;
  padding-bottom: 88px;
  padding-right: 90px;
  padding-left: 90px;
  box-sizing: border-box;
  max-width: 400px;
  position: relative;
}

.box-list {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 34px;
  text-transform: uppercase;
}

h2.box-list-counter::after {
  content: "—№ "counter(list) " —";
  counter-increment: list;
  display: block;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-top: 25px;
}

.box-item {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.grey {
  background-color: #f0f6fa;
}

.broun {
  background-color: #83b3d333;
}

.search {
  text-decoration: none;
  margin-right: 21px;
}

.search-icon {
  display: block;
}

.favorites {
  text-decoration: none;
  margin-right: 33px;
  position: relative;
}

.favorites::before {
  position: absolute;
  content: attr(data-count);
  top: -10px;
  right: -12px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 18px;
  color: #ffffff;
  width: 19px;
  height: 18px;
  border-radius: 50%;
  background: #7DB54F;
  text-align: center;
  z-index: 2;
}

.favorites-icon {
  display: block;
}

.main-search {
  background-color: #ffffff;
  text-align: center;
}

.main-search-container {
  padding: 91px 240px;
}

.main-search-title {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.main-search-item {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  max-width: 660px;
  margin: 0 auto;
  padding-bottom: 73px;
  text-decoration: none;
}

.button-search {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 10px;
  background-color: #756257;
  display: inline-block;
  text-decoration: none;
  padding: 12px 150px;
  outline: none;
}


.button-search:hover {
  background-color: #615048
}

.button-search:active {
  color: rgb(255, 255, 255, 0.3);
}

.button-search:focus {
  box-shadow: 0 0 0 3px #83B3D3;
}


.main-subscribe {
  background-image: url("/image/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 94px;
}

.main-subscribe-form {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.main-subscribe-item {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 100px 15px 30px;
  margin: 0;
  border: 2px solid transparent;
  border-radius: 10px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
  outline: none;
  color: #000000;
}

.main-subscribe-item::placeholder {
  color: #00000099;
}

.main-subscribe-item:hover {
  background-color: #E6E6E6;
}


.main-subscribe-item:focus {
  background: #E6E6E6;
  box-shadow: 0 0 0 3px #83B3D3;
}

.main-subscribe-item:active {
  background-color: #FFFFFF;
  border-color: #000000;
  box-shadow: none;
}

.main-subscribe-item:invalid {
  border-color: #FF5757;
  box-shadow: none;
}

.main-subscribe-button {
  background-color: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  padding: 0 34px;
  height: 100%;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  outline: none;
  text-transform: uppercase;
}

.main-subscribe-button:focus {
  box-shadow: 0 0 0 3px #756257;
}

.main-subscribe-button:hover {
  background: #68A2CA;
}

.main-subscribe-button:active {
  color: rgb(255, 255, 255, 0.3);
  box-shadow: none;
}


.color-input {
  background-color: #e7f0f0;
}

.main-subcribe-title {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.type-visualy {
  padding: 0;
  list-style-type: none;
  display: flex;
}

.type-button {
  padding: 17px 16px;
  background: none;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 8px;
}

.main-subcribe-item-text {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 26px;
}

.footer-phone {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 15px;
  outline: none;
}

.footer-phone:hover {
  color: #756257;
}

.footer-phone:active {
  opacity: 0.3
}

.footer-phone:focus {
  border-color: #83B3D3;
}

.inner-catalog {
  background-image: url("/image/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-top: 35px;
  padding-bottom: 85px;
}

.footer-contacts {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 30px;
  align-items: center;
}

.icon-social {
  outline: none;
  padding: 9px 0;
  border: 3px solid transparent;
  display: inline-block;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
}

.icon-social:focus {
  border-color: #83B3D3;
}

.icon-social:hover svg {
  fill: #68A2CA;
}

.icon-social:active {
  opacity: 0.3;
  border-color: transparent;
}

.youtube,
.facebook,
.twitter {
  fill: #83B3D3;
  display: inline-block;
}



.footer-social {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.footer-icon {
  list-style-type: none;
  margin-right: 3px;
}

.inner-catalog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog-filter-group {
  padding: 0;
  border: 0;
  margin: 0;
}

.filter-form-price {
  margin-left: auto;
  width: 100%;
  max-width: 287px;
}

.catalog-filter-title {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 34px;
}

.inner-find {
  max-width: 1056px;
  padding-top: 44px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-find-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  width: 100%;
}

.main-inner-title {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 5px;
}

.main-inner-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1056px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  list-style-type: none;
  padding: 0;
  margin-bottom: 45px;
}

.catalog-filter-group:first-child {
  margin-right: 67px;
}

.catalog-filter-button {
  margin-left: 81px;
}



.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control:hover .control-mark {
  opacity: 0.6;
}

.control:active .control-mark {
  opacity: 0.3;
}

.control-input:focus+.control-mark {
  box-shadow: 0 0 0 3px #83B3D3;
}

.control-input[type="checkbox"]:checked+.control-mark::after {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 13px;
  height: 10px;
  content: "";
  background-image: url(/image/catalog/tick-box.svg);
  background-repeat: no-repeat;
}

.control-input[type="radio"]+.control-mark {
  border-radius: 50%;
}

.catalog-filter-item {
  margin-bottom: 13px;
}

.catalog-filter-item:last-of-type {
  margin-bottom: 0;
}

.control-input[type="radio"]:checked+.control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.catalog-filter-list {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.inner-find-title {
  display: inline-block;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase
}

.inner-select {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  display: inline-block;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 129px 13px 19px;
}

.breadcrumbs-item {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 4px;
  outline: none;
  padding: 0 5px;
}

.breadcrumbs-list {
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.image-breadcrumbs {
  position: relative;
  padding: 3px;
  border: 3px solid transparent;
  border-radius: 4px;
  outline: none;
  padding: 3px 5px;
}

.breadcrumbs-list::after {
  content: "";
  background-image: url("/image/catalog/Group-white.svg");
  background-repeat: no-repeat;
  width: 6px;
  height: 8px;
  display: block;
  opacity: 0.3;
  margin-left: 2px;
  margin-right: 2px;
}

.breadcrumbs-list:last-of-type::after {
  display: none;
}

.breadcrumbs-item:hover,
.image-breadcrumbs:hover {
  opacity: 0.6;
}

.breadcrumbs-item:active,
.image-breadcrumbs:active {
  opacity: 0.3;
}

.breadcrumbs-item:focus {
  border-color: #83B3D3;
}

.image-breadcrumbs:focus {
  border-color: #83B3D3;
}

.inner-select-arrow {
  background-image: url("/image/catalog/dropdown.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.find-list {
  max-width: 1056px;
  margin: 0 auto;
  padding: 0;
  margin: 0;
}

.find-list-star {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.image-star {
  width: 18px;
  height: 17px;
  background-image: url("/image/catalog/star.svg");
  display: block;
  margin-right: 7px;
}

.image-star-list {
  display: flex;
  justify-content: center;
}

.find-list-image-grid {
  display: block;
}

.find-list-description {
  grid-column: span 3;
  display: grid;
  column-gap: 8px;
  grid-template-columns: 151px 151px 1fr;

}

.bottom-line {
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 30px;
}

.find-list-item {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  padding-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #E6E6E6;
}

.find-list-name {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin-top: 0;
  margin-bottom: 0;
  grid-column: span 3;
}

.find-list-type {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 31px;
  grid-column: 1 / 2;
}

.find-list-price {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  grid-column: 2 / 3;
}

.find-list-rating {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 8px 30px;
  margin: 0;
  align-self: end;
  justify-self: end;
  display: inline-block;
}

.border {
  border: 2px solid #000000;
}

.button-details {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756257;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 20px;
  text-decoration: none;
  display: inline-block;
  grid-column: 1 / 2;
  outline: none;
}

.button-details:hover {
  background-color: #615048;
}

.button-details:active {
  color: rgb(255, 255, 255, 0.3);
}

.button-details:focus {
  box-shadow: 0 0 0 3px #83B3D3;
}

.inner-filter-form {
  display: flex;
  max-width: 1056px;
  width: 100%;
  margin: 0 auto;
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.catalog-filter-group-margin {
  margin-left: auto;
  margin-right: 81px;
}

.button-accept {
  background-color: #83B3D3;
  border: none;
  padding: 14px 34px;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  outline: none;
  margin-bottom: 20px;
}

.button-accept:hover {
  background: #68A2CA;
}

.button-accept:active {
  color: rgb(255, 255, 255, 0.3);
}

.button-accept:focus {
  box-shadow: 0 0 0 3px #ffffff;
}

.button-cancel {
  background-color: transparent;
  border: none;
  padding: 0 10px;
  border-radius: 4px;
  color: #ffffff;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  outline: none;
}

.button-cancel:hover {
  opacity: 0.6;
}

.button-cancel:active {
  opacity: 0.3;
}

.button-cancel:focus {
  box-shadow: 0 0 0 3px #83B3D3;
}

.color-blue {
  background-color: #83B3D3;
  grid-column: 2 / 3;
}

.color-blue:hover {
  border: 1px solid #756257;
}

.color-blue:active {
  color: rgb(255, 255, 255, 0.3);
}

.color-blue:focus {
  box-shadow: 0 0 0 3px #756257;
}

.color-green {
  background-color: #7DB54F;
  grid-column: 2 / 3;
}

.load-more {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83B3D3;
  color: #ffffff;
  padding: 14px 240px;
  text-decoration: none;
  display: inline-block;
  justify-self: center;
  margin-bottom: 30px;
  outline: none;
}

.count-text {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.count-amount {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  box-sizing: border-box;
}

.pagination-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.count-item {
  display: flex;
}

.count-text {
  margin-right: 68px;
}

.count-amount {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 17px 133px 12px 12px;
  border: 2px solid #E6E6E6;
  margin: 0;

}

.pagination-container {
  margin: 0 auto;
  padding-top: 17px;
  border-top: 1px solid #E6E6E6;
  max-width: 1056px;
}

.pagination-link {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  list-style: none;
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  border-radius: 4px;
  outline: none;
}

.pagination-link:hover {
  background: #68A2CA;
}

.pagination-link:active {
  color: rgb(255, 255, 255, 0.6);
}

.pagination-link:focus {
  box-shadow: 0 0 0 3px #756257;
}


.one {
  color: #000000;
  background-color: #F2F2F2;
  ;
}

.ten {
  padding: 14px 16px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.inner-subscribe {
  padding-top: 89px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.search:hover {
  fill: #756257;
}

.search:active {
  opacity: 0.3;
}

.icon {
  position: relative;
  outline: none;
}

.icon::after {
  content: "";
  display: block;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid transparent;
  border-radius: 10px;
  z-index: 0;
}

.icon:focus::after {
  border-color: #83B3D3;
}

.favorites:hover {
  fill: #756257;
}

.favorites:active {
  opacity: 0.3;
}



.footer-icon:focus {
  border: 3px solid #000000;
  padding: 10px;
}

.footer-email {
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

.html-academy:hover {
  fill: #756257;
}

.html-academy:active {
  opacity: 0.3
}

.footer-email:focus {
  border-color: #83B3D3;
}


.input[type="checkbox"] {
  opacity: 0.3;
}

.catalog-filter-input:hover {
  opacity: 0.6;
}

.catalog-filter-input:active {
  opacity: 0.3;
}

.catalog-filter-input:focus {
  border: 3px solid #83B3D3;
}





.inner-select:hover {
  border: 2px solid #83B3D3;
}

.inner-select:active {
  border: 2px solid #E6E6E6;
  color: rgb(51, 51, 51, 0.6);
}

.inner-select:focus {
  border: 2px solid #83B3D3;
}

.type-button:hover {
  border: 2px solid #83B3D3;
}

.type-button:active {
  border: 2px solid #000000;
}

.type-button:focus {
  border: 2px solid #83B3D3;
}



.find-list-image-grid:hover {
  opacity: 0.6;
}

.find-list-image-grid:active {
  opacity: 0.3;
}

.find-list-image-grid:focus {
  border: 3px solid #83B3D3;
}

.find-list-name:hover {
  color: #756257;
}

.find-list-name:active {
  opacity: 0.3;
}

.find-list-name:focus {
  border: 3px solid #83B3D3;
}





.range-scale {
  position: relative;
  height: 4px;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 2px;
  max-width: 287px;
  width: 100%;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range-toggle:hover {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.catalog-filter-label {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  color: #ffffff4d;
}

.range-input {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  background-color: transparent;
  border: none;
  max-width: 70px;
  appearance: textfield;
  color: #ffffff;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.border-left {
  border: 2px solid #FFFFFF;
  border-right-width: 1px;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  padding: 12px 14px 13px 19px;
}

.border-right {
  border: 2px solid #FFFFFF;
  margin-right: 5px;
  border-left-width: 1px;
  border-radius: 0 4px 4px 0;
  padding: 12px 14px 13px 19px;
}

.favorites-item-mini {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.favorites-item-mini:last-of-type {
  margin-bottom: 0;
}

.favorites-image {
  border-radius: 50%;
  margin-right: 17px;
}

.favorites-title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.favorites-list-mini {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  color: #000000;
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 25px;
}

.favorites-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

.favorites-delete {
  background: none;
  border: none;
  outline: none;
  margin-left: auto;
}

.tooltip {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  width: 400px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 20px;
  filter: drop-shadow(0px -1px 0px #e4e4e4);
  z-index: 20;
  display: none;
}


.tooltip:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border: 10px solid transparent;
  border-top: 0;
  border-bottom-color: #fff;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-action {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;

  background: #756257;
  border-radius: 0px 0px 20px 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  width: 100%;
  padding: 20px 0;
}

.favorites:hover .tooltip {
  display: block;
}

.favorites:focus .tooltip {
  display: block;
}
